* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.pages {
    color: white;
}
.pages:visited {
    color: white;
}
.pages:hover {
    color: #0D9C90;
    cursor: pointer;
}

body {
    background-color: #0D9C90;
    font-family: sans-serif;
}

/* off-screen-menu */
.off-screen-menu {
    background-color: #0ec5a1;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 100;
}
.off-screen-menu.active {
    left: 0;
}

/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: #0ec5a1;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    margin-left: 10px;
}

.ham-menu:hover, .ham-menu span:hover{
    cursor: pointer;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 100;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}